<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
         <!-- Link to JavaScript -->
    <script src="js/booking.js"defer></script>

    <link rel="stylesheet" href="/styles/vacation_style.css">

     <!-- Favicon -->
    <link rel="icon" href="images/bookingicon.png">
</head>
<body>
    <h1>Thank you for your request!</h1>
    <a href="/">Find my location</a>
</body>
</html>